extends layout.pug

block content
    - var total = 0;
    - function format(price) { return price.toFixed(2).replace(".", ",") + "$"}
    - function formatAmount(price) { return price.toFixed(2).replace(".", ",")};
    main
        article
            h1 Panier

            if (cart == null || cart.length == 0)
                p Aucun produit dans le panier.
            else 
                #shopping-cart-container
                    table.table.shopping-cart-table
                        thead
                            tr
                                th
                                th Produit
                                th Prix unitaire
                                th Quantité
                                th Prix
                        tbody
                        each item in productsArray
                            tr(data-product-id= item.id)
                                td
                                    button.remove-item-button X
                                td  
                                    span #{item.name}
                                td
                                    span #{format(item.price)}
                                td 
                                    if(item.quantity == 1)
                                        button.remove-quantity-button(disabled="true") -
                                    else
                                        button.remove-quantity-button -
                                    span.quantity #{item.quantity}
                                    button.add-quantity-button +
                                td
                                    span.price #{format(item.price * item.quantity)}
                                - total += item.price * item.quantity;


                    p.shopping-cart-total
                        | Total: 
                        strong#total-amount #{formatAmount(total)} 
                        
                    a.btn.pull-right(href='/commande')
                        | Commander 
                        i.fa.fa-angle-double-right
                    button#remove-all-items-button.btn
                        i.fa.fa-trash-o
                        |   Vider le panier
block scripts
    script(type='text/javascript', src='/assets/scripts/products.service.js')